html {
  --stripe-width: 4.5vh;
  --stripe-min-width: 26px;

  --stripe-gap: calc(var(--stripe-width) / 3.14);
  --stripe-min-gap: calc(var(--stripe-min-width) / 3.14);

  --stripes-width: calc(var(--stripe-gap) * 3 + var(--stripe-width) * 4);
  --stripes-min-width: calc(var(--stripe-min-gap) * 3 + var(--stripe-min-width) * 4);
}

/*<editor-fold desc="Bootstrapping">*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  /*background-color: var(--main-bg-color);*/
}
body {
  /*background-color: var(--main-bg-color);*/
  /*transition: background-color .15s linear;*/
  position: relative;
}
section.sections-container {
  /*height: 100vh;*/
  /*width: 100vw;*/
  position: relative;
  z-index: 1;
}
/*body[ready] > section {*/
  /*opacity: ;1*/
/*}*/
#intro,
nav,
footer {
  opacity: 0;
}
body[ready] #intro,
body[ready] nav,
body[ready] footer {
  opacity: 1;
}
a {
  text-decoration: none;
  /*color: #fff;*/
  /*text-shadow: 1px 1px 0 #000;*/
}
@media screen and (min-width: 600px) {
  body {
    font-size: 15px;
  }
}
@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 20px;
  }
}
/*</editor-fold>*/

/*<editor-fold desc="CSS Snapping"*/
#sections-wrapper {
  overflow: auto;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
}
section.sections-container {
  scroll-snap-align: start;
}
/*</editor-fold>*/

/*<editor-fold desc="Sections">*/
section.sections-container.animating {
  z-index: 5;
}
section.sections-container:not([ready]) {
  /*overflow: hidden;*/
  position: relative;
  /*z-index: 1;*/
}

.section-character {
  position: absolute !important;
  z-index: 2;
  top: 10%;
  width: 70%;
  height: 80%;
  left: 10%;
  opacity: 0;
  /*transition: opacity .5s linear;*/

  /*height: var(--character-height);*/
  /*width: var(--character-width);*/
  /*max-height: 64vh;*/
}
@media (orientation: landscape), (min-aspect-ratio: 768/1024) {
  section:not(#frontpage) .section-character {
    width: 60% !important;
    left: 5% !important;
  }
}
.body-contour {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.body-bg {
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;

  opacity: 0;
  /*transition: opacity .5s linear;*/
  /*transition: background-image 1s linear;*/
}

@media (orientation: landscape), (min-aspect-ratio: 768/1024) {
  .body-contour {
    width: auto;
    max-width: 100%;
  }
  .body-bg {
    background-position: left center;
  }
}
/*</editor-fold>*/

/*<editor-fold desc="SVG positioning and scaling">*/
.svg-container {
  display:block;
  position: relative;
}
.svg-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}
.svg-container svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*</editor-fold>*/

