.transition-el {
  position: fixed;
  z-index: 7;
  top:0;
  left:0;
  /*width: 100%;*/
  /*height: 100%;*/

  opacity: 0;
  visibility: hidden;
}
.transition-el .svg-wrapper {
  position: relative;
  height: 100%;
  width: 100%;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;

  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.transition-el svg {
  width: 100%;
  height: 100%;
}
.transition-el img {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  opacity: 0;
}

/*<editor-fold desc="Eraser">*/
.transition-el.eraser svg {
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}
/*.transition-el.eraser.ready svg {*/
  /*!*transform: scale(1.2);*!*/
  /*!*width: 100%;*!*/
  /*!*height:100%;*!*/
/*}*/
.transition-el.eraser img {
  --eraser-img-width: 120vw;

  position:fixed;
  width: var(--eraser-img-width);
  max-width: 100vw;
  height: calc(var(--eraser-img-width) * 0.69569003); /* to follow the image's ratio. We have to set it up to have proper rectangle for the image as soon as possible in order to perform correct calculations in javascript */
  margin-top: -21.2%;
}
/*</editor-fold>*/

/*<editor-fold desc="Push">*/
.transition-el.push {
  /*position: fixed;*/
  --push-image-height: 70vh;
  --push-image-width: calc(var(--push-image-height) * 0.558541267);
  height: var(--push-image-height);
  width: var(--push-image-width);

  left: var(--push-image-width);
}
.transition-el.push svg {
  /*transform: rotate(-80deg);*/
}
.transition-el.push #hand-end,
.transition-el.push #hand-tilt{
  opacity: 0;
  visibility: hidden;
}
/*</editor-fold>*/
