body {
  opacity: 1 !important;
}
#intro, nav, footer, .section-character, .body-bg, #mouth-end, #sections-title {
  opacity: 1 !important;
  visibility: visible !important;
}
.body-contour, #drop {
  opacity: 0;
  visibility: hidden;
}
#mouth-closed {
  opacity: 0;
}
.bg-stripes > span {
  left: 0;
}
#intro {
  height: calc(var(--intro-width)/4.364);
}
#sections-title .placeholder:before {
  content: 'sometimes I…';
  color: #fff;
}



section#frontpage .body-bg {
  background-image: url('/images/frontpage-transition-mobile.png');
}
@media screen and (min-width: 321px) {
  section#frontpage .body-bg { background-image: url('/images/frontpage-transition-mobile@2x.png'); }
}
@media screen and (min-width: 641px), screen and (min-width: 321px) and (min-resolution: 144dpi) {
  section#frontpage .body-bg { background-image: url('/images/frontpage-transition-tablet.png'); }
}
@media screen and (min-width: 805px), screen and (min-width: 641px) and (min-resolution: 144dpi) {
  section#frontpage .body-bg { background-image: url('/images/frontpage-transition.png'); }
}
@media screen and (min-width: 1024px), screen and (min-width: 805px) and (min-resolution: 144dpi) {
  section#frontpage .body-bg { background-image: url('/images/frontpage-transition-large.png'); }
}
@media screen and (min-width: 2100px) and (min-resolution: 144dpi) {
  section#frontpage .body-bg { background-image: url('/images/frontpage-transition-large@2x.png'); }
}

section#working .body-bg { background-image: url('/images/working-mobile.png'); }
@media screen and (min-width: 321px) {
  section#working .body-bg { background-image: url('/images/working-mobile@2x.png'); }
}
@media screen and (min-width: 641px), screen and (min-width: 321px) and (min-resolution: 144dpi) {
  section#working .body-bg { background-image: url('/images/working-tablet.png'); }
}
@media screen and (min-width: 805px), screen and (min-width: 641px) and (min-resolution: 144dpi) {
  section#working .body-bg { background-image: url('/images/working.png'); }
}
@media screen and (min-width: 1024px), screen and (min-width: 805px) and (min-resolution: 144dpi) {
  section#working .body-bg { background-image: url('/images/working-large.png'); }
}
@media screen and (min-width: 2100px) and (min-resolution: 144dpi) {
  section#working .body-bg { background-image: url('/images/working-large@2x.png'); }
}
@media screen and (orientation: landscape) {
  section#working .body-bg { background-image: url('/images/working-landscape-mobile.png'); }
}
@media screen and (orientation: landscape) and (min-width: 321px) {
  section#working .body-bg { background-image: url('/images/working-landscape-mobile@2x.png'); }
}
@media screen and (orientation: landscape) and (min-width: 641px), screen and (orientation: landscape) and (min-width: 321px) and (min-resolution: 144dpi), (orientation: portrait) and (min-aspect-ratio: 768/1024) {
  section#working .body-bg { background-image: url('/images/working-landscape-tablet.png'); }
}
@media screen and (orientation: landscape) and (min-width: 805px), screen and (orientation: landscape) and (min-width: 641px) and (min-resolution: 144dpi) {
  section#working .body-bg { background-image: url('/images/working-landscape.png'); }
}
@media screen and (orientation: landscape) and (min-width: 1024px), screen and (orientation: landscape) and (min-width: 805px) and (min-resolution: 144dpi), (orientation: portrait) and (min-aspect-ratio: 768/1024) and (min-width: 1024px) {
  section#working .body-bg { background-image: url('/images/working-landscape-large.png'); }
}
@media screen and (orientation: landscape) and (min-width: 2100px) and (min-resolution: 144dpi), (orientation: portrait) and (min-aspect-ratio: 768/1024) and (min-width: 2100px) and (min-resolution: 144dpi) {
  section#working .body-bg { background-image: url('/images/working-landscape-large@2x.png'); }
}

section#writing .body-bg { background-image: url('/images/writing-mobile.png'); }
@media screen and (min-width: 321px) {
  section#writing .body-bg { background-image: url('/images/writing-mobile@2x.png'); }
}
@media screen and (min-width: 641px), screen and (min-width: 321px) and (min-resolution: 144dpi) {
  section#writing .body-bg { background-image: url('/images/writing-tablet.png'); }
}
@media screen and (min-width: 805px), screen and (min-width: 641px) and (min-resolution: 144dpi) {
  section#writing .body-bg { background-image: url('/images/writing.png'); }
}
@media screen and (min-width: 1024px), screen and (min-width: 805px) and (min-resolution: 144dpi) {
  section#writing .body-bg { background-image: url('/images/writing-large.png'); }
}
@media screen and (min-width: 2100px) and (min-resolution: 144dpi) {
  section#writing .body-bg { background-image: url('/images/writing-large@2x.png'); }
}
@media screen and (orientation: landscape) {
  section#writing .body-bg {
    background-image: url('/images/writing-landscape-mobile.png');
  }
}
@media screen and (orientation: landscape) and (min-width: 321px) {
  section#writing .body-bg { background-image: url('/images/writing-landscape-mobile@2x.png'); }
}
@media screen and (orientation: landscape) and (min-width: 641px), screen and (orientation: landscape) and (min-width: 321px) and (min-resolution: 144dpi), (orientation: portrait) and (min-aspect-ratio: 768/1024) {
  section#writing .body-bg { background-image: url('/images/writing-landscape-tablet.png'); }
}
@media screen and (orientation: landscape) and (min-width: 805px), screen and (orientation: landscape) and (min-width: 641px) and (min-resolution: 144dpi) {
  section#writing .body-bg { background-image: url('/images/writing-landscape.png'); }
}
@media screen and (orientation: landscape) and (min-width: 1024px), screen and (orientation: landscape) and (min-width: 805px) and (min-resolution: 144dpi), (orientation: portrait) and (min-aspect-ratio: 768/1024) and (min-width: 1024px) {
  section#writing .body-bg { background-image: url('/images/writing-landscape-large.png'); }
}
@media screen and (orientation: landscape) and (min-width: 2100px) and (min-resolution: 144dpi), (orientation: portrait) and (min-aspect-ratio: 768/1024) and (min-width: 2100px) and (min-resolution: 144dpi) {
  section#writing .body-bg { background-image: url('/images/writing-landscape-large@2x.png'); }
}

section#speaking .body-bg { background-image: url('/images/speaking-mobile.png'); }
@media screen and (min-width: 321px) {
  section#speaking .body-bg { background-image: url('/images/speaking-mobile@2x.png'); }
}
@media screen and (min-width: 641px), screen and (min-width: 321px) and (min-resolution: 144dpi) {
  section#speaking .body-bg { background-image: url('/images/speaking-tablet.png'); }
}
@media screen and (min-width: 805px), screen and (min-width: 641px) and (min-resolution: 144dpi) {
  section#speaking .body-bg { background-image: url('/images/speaking.png'); }
}
@media screen and (min-width: 1024px), screen and (min-width: 805px) and (min-resolution: 144dpi) {
  section#speaking .body-bg { background-image: url('/images/speaking-large.png'); }
}
@media screen and (min-width: 2100px) and (min-resolution: 144dpi) {
  section#speaking .body-bg { background-image: url('/images/speaking-large@2x.png'); }
}

@media screen and (orientation: landscape), (min-aspect-ratio: 768/1024) {
  section#speaking .body-bg {
    background-image: url('/images/speaking-landscape-mobile.png');
  }
}
@media screen and (orientation: landscape) and (min-width: 321px) {
  section#speaking .body-bg { background-image: url('/images/speaking-landscape-mobile@2x.png'); }
}
@media screen and (orientation: landscape) and (min-width: 641px), screen and (orientation: landscape) and (min-width: 321px) and (min-resolution: 144dpi), (orientation: portrait) and (min-aspect-ratio: 768/1024) {
  section#speaking .body-bg { background-image: url('/images/speaking-landscape-tablet.png'); }
}
@media screen and (orientation: landscape) and (min-width: 805px), screen and (orientation: landscape) and (min-width: 641px) and (min-resolution: 144dpi) {
  section#speaking .body-bg { background-image: url('/images/speaking-landscape.png'); }
}
@media screen and (orientation: landscape) and (min-width: 1024px), screen and (orientation: landscape) and (min-width: 805px) and (min-resolution: 144dpi), (orientation: portrait) and (min-aspect-ratio: 768/1024) and (min-width: 1024px) {
  section#speaking .body-bg { background-image: url('/images/speaking-landscape-large.png'); }
}
@media screen and (orientation: landscape) and (min-width: 2100px) and (min-resolution: 144dpi), (orientation: portrait) and (min-aspect-ratio: 768/1024) and (min-width: 2100px) and (min-resolution: 144dpi) {
  section#speaking .body-bg { background-image: url('/images/speaking-landscape-large@2x.png'); }
}

section#not-working .body-bg:not(.sad):not(.artefacts) { background-image: url('/images/not-working-mobile.png'); }
@media screen and (min-width: 321px) {
  section#not-working .body-bg:not(.sad):not(.artefacts) { background-image: url('/images/not-working-mobile@2x.png'); }
}
@media screen and (min-width: 641px), screen and (min-width: 321px) and (min-resolution: 144dpi) {
  section#not-working .body-bg:not(.sad):not(.artefacts) { background-image: url('/images/not-working-tablet.png'); }
}
@media screen and (min-width: 805px), screen and (min-width: 641px) and (min-resolution: 144dpi) {
  section#not-working .body-bg:not(.sad):not(.artefacts) { background-image: url('/images/not-working.png'); }
}
@media screen and (min-width: 1024px), screen and (min-width: 805px) and (min-resolution: 144dpi) {
  section#not-working .body-bg:not(.sad):not(.artefacts) { background-image: url('/images/not-working-large.png'); }
}
@media screen and (min-width: 1024px) and (min-resolution: 144dpi) {
  section#not-working .body-bg:not(.sad):not(.artefacts) { background-image: url('/images/not-working-large@2x.png'); }
}
@media screen and (orientation: landscape) {
  section#not-working .body-bg:not(.sad):not(.artefacts) { background-image: url('/images/not-working-landscape-mobile.png'); }
}
@media screen and (orientation: landscape) and (min-width: 321px) {
  section#not-working .body-bg:not(.sad):not(.artefacts) { background-image: url('/images/not-working-landscape-mobile@2x.png'); }
}
@media screen and (orientation: landscape) and (min-width: 641px), screen and (orientation: landscape) and (min-width: 321px) and (min-resolution: 144dpi), (orientation: portrait) and (min-aspect-ratio: 768/1024) {
  section#not-working .body-bg:not(.sad):not(.artefacts) { background-image: url('/images/not-working-landscape-tablet.png'); }
}
@media screen and (orientation: landscape) and (min-width: 805px), screen and (orientation: landscape) and (min-width: 641px) and (min-resolution: 144dpi) {
  section#not-working .body-bg:not(.sad):not(.artefacts) { background-image:  url('/images/not-working-landscape.png'); }
}
@media screen and (orientation: landscape) and (min-width: 1024px), screen and (orientation: landscape) and (min-width: 805px) and (min-resolution: 144dpi), (orientation: portrait) and (min-aspect-ratio: 768/1024) and (min-width: 1024px) {
  section#not-working .body-bg:not(.sad):not(.artefacts) { background-image: url('/images/not-working-landscape-large.png'); }
}
@media screen and (orientation: landscape) and (min-width: 2100px) and (min-resolution: 144dpi), (orientation: portrait) and (min-aspect-ratio: 768/1024) and (min-width: 2100px) and (min-resolution: 144dpi) {
  section#not-working .body-bg:not(.sad):not(.artefacts) { background-image: url('/images/not-working-landscape-large@2x.png'); }
}
