@font-face {
  font-family: 'Oneday Condensed';
  src: url('/font/OnedayCondensed-Regular.eot');
  src: url('/font/OnedayCondensed-Regular.eot?#iefix') format('embedded-opentype'),
  url('/font/OnedayCondensed-Regular.woff2') format('woff2'),
  url('/font/OnedayCondensed-Regular.woff') format('woff'),
  url('/font/OnedayCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

img {
  width: 100%;
}

/* prepare for the animations */
.svg-container {
  position: relative;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* INTRO*/
#intro {
  margin-left: auto;
  margin-right: auto;
}

/* WAVES */
#waves,
#footer-svg {
  width: auto;
  height: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  box-sizing: border-box;
  /*overflow: hidden;*/
}

[id^="wave-end"] {
  visibility: hidden;
}

[id$="-layer"] {
  transition: opacity .3s ease-out;
}

#wavesGroup,
#footerGroup {
  width: auto;
  z-index: 10;
}

/* SMILE */
#character {
  position: relative;
  z-index: 2;
  width: 278px;
  height: 264px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

#smile {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#smile canvas {
  display: block;
  width: 100%;
  height: 100%;
}

#smile svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* end prepare for the animations  */

@media screen and (orientation: portrait) {
  #intro {
    width: 75%;
  }
}
@media screen and (orientation: landscape) {
  #intro {
    height: 24%;
  }
}

@media screen and (min-width: 414px) {
  #character {
    width: 359px;
    height: 342px;
  }
}

@media screen and (min-width: 600px) {
  #character {
    width: 468px;
    height: 446px;
  }
}

@media screen and (min-width: 768px) {
  #character {
    width: 603px;
    height: 574px;
  }
  #character {
    margin-top: 12px;
  }
}

@media screen and (min-width: 1024px) and (orientation: portrait) {
  #character {
    width: 643px;
    height: 612px;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  #character {
    margin-top: -134px;
  }
}
@media screen and (min-width: 1280px) and (orientation: landscape) {
  #waves,
  #footer-svg {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 1280px) {
  #character {
    width: 643px;
    height: 612px;
  }
}
@media screen and (min-width: 1280px) and (orientation: portrait) {
  #waves,
  #footer-svg {
    width: 100%;
    height: auto;
  }
}